$res_425 : "only screen and (min-width: 425px) and (max-width: 767px)";

@mixin responsive_425() {
   @media #{$res_425} {
      @content;
   }
}

.form {
   align-self: flex-end;
   display: flex;
   flex-direction: column;
   width: 539px;
   height: auto;
   background: rgba(255, 255, 255, 0.75);
   border-radius: 40px;
   margin-right: 118px;

   @include responsive_425{
      margin: 0 auto;
   }

   // FORM INTRO
   &__intro {
      display: flex;
      &-greeting {
         flex-basis: 70%;
         h2 {
            font-weight: 600;
            font-size: 21px;
            line-height: 32px;
            color: #000000;
            span {
               color: $primary-color;
            }
         }
      }
      &-signup {
         flex-basis: 30%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: #8D8D8D;
            span {
               color: $primary-color;
            }
         }
      }
   }

   // FORM HEADER
   &__header {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 82px;
      color: #000000;
      margin-bottom: 43px;
   }

   // FORM SOCIAL
   &__social {
      width: 451px;
      height: 57px;
      display: flex;
      gap: 13px;
      margin-bottom: 51px;
      &-google {
         cursor: pointer;
         background: #ffffff;
         border-radius: 9px;
         flex-basis: 66%;
         display: flex;
         align-items: center;
         gap: 21px;
         transition: .5s all ease;
         &:hover {
            box-shadow: 0px 4px 10px #000000;
            background: #E9F1FF;
         }
         &-icon {
            margin-left: 32px;
         }
         &-text {
            font-size: 16px;
            line-height: 24px;
            color: #4285F4;
         }
      }  
      &-facebook {
         cursor: pointer;
         gap: 17%;
         background: #FFFFFF;
         border-radius: 9px;
         transition: .5s all ease;
         &:hover {
            box-shadow: 0px 4px 10px #000000;
            background: #E9F1FF;
         }
         &-icon {
            margin: 15.75px 17.75px;
         }
      }
      &-apple {
         cursor: pointer;
         gap: 17%;
         background: #FFFFFF;
         border-radius: 9px;
         transition: .5s box-shadow ease, .5s background ease;
         &:hover {
            box-shadow: 0px 4px 10px #000000;
            background: #E9F1FF;
         }
         &-icon {
            margin: 15.75px 17.75px;
         }
      }
   }

   // USERNAME INPUT && PASSWORD INPUT

   &__input-username, &__input-password {
      margin-bottom: 20px;
      label {
         font-size: 16px;
         line-height: 24px;
         color: #000000;
      }
      input[type=text] {
         width: 451px;
         height: 57px;
         background: #FFFFFF;
         border: 1px solid #ADADAD;
         border-radius: 9px;
         margin-top: 13px;
         margin-bottom: 10px;
         padding-left: 25px;
         outline: none;
         &:focus {
            border: 1px solid #4285F4;
         }
      }
      input[type=password] {
         width: 451px;
         height: 57px;
         background: #FFFFFF;
         border: 1px solid #ADADAD;
         border-radius: 9px;
         margin-top: 13px;
         margin-bottom: 10px;
         padding-left: 25px;
         outline: none;
         &:focus {
            border: 1px solid #4285F4;
         }
      }
      ::placeholder {
         margin-top: 19px;
         margin-bottom: 19px;
         font-weight: 300;
         font-size: 14px;
         line-height: 21px;
         color: #808080;
      }
      i {
         position: absolute;
         top: 19px;
      }
   }

   // FORGOT PASSWORD
   &__forgot {
      margin-bottom: 36px;
      display: flex;
      .show {
         flex-basis: 50%;
         input[type=checkbox] {
            flex-basis: 50%;
            margin-top:15px;
         }
         .checkbox-text {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
         }
      }
      a {
         flex-basis: 50%;
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         small{
            font-size: 13px;
            line-height: 20px;
            color: #4285F4;
            text-align: end;
         }
      }

      
   }

   // SIGN IN BUTTON
   &__signin-btn {
      text-align: end;
      input {
         background: #779341;
         border: none;
         border-radius: 10px;
         color: white;
         padding: 15px 91px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-weight: 500;
         font-size: 16px;
         line-height: 24px;
         color: #FFFFFF;
         cursor: pointer;
         transition: .5s box-shadow ease;
         margin-bottom: 79px;
         &:hover {
            box-shadow: 0px 4px 19px #779341;
         }
      }
   }


}